# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Plastic SCM
.plastic/

# Gradle (Android)
.gradle/

# Addressables
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# StreamingAssets
[Aa]ssets/StreamingAssets/aa.meta
[Aa]ssets/StreamingAssets/aa/*

# Node tooling
Tools/**/node_modules/
